/* Add your CSS styles here */
.details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details h1 {
  text-align: center;
}

.details p {
  margin-bottom: 10px;
}

.plant-image {
  width: 100%;
  height: 450px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.flower-images-container .swiper-slide img,
.pollen-images-container .swiper-slide img {
  width: auto;
  height: 200px; /* Adjust the height as needed */
  object-fit: contain;
}

.pollen-images-container .mySwiper2 {
  height: 80%; /* Adjust the height as needed */
  width: 100%;
}

.pollen-images-container .mySwiper {
  height: 20%; /* Adjust the height as needed */
  box-sizing: border-box;
  padding: 10px 0;
}

.pollen-images-container .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.pollen-images-container .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.pollen-images-container .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
