@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bg{
  background-color: #fff;
}

/* #menu{
  display: flex;
  background-color: #abc6f8;
  background-image: radial-gradient(closest-side, rgb(255, 255, 255), rgba(235, 105, 78, 0)),
        radial-gradient(closest-side, rgb(250, 203, 203), rgba(243, 11, 164, 0)),
        radial-gradient(closest-side, rgb(237, 252, 202), rgba(254, 234, 131, 0)),
        radial-gradient(closest-side, rgb(197, 248, 241), rgba(170, 142, 245, 0)),
        radial-gradient(closest-side, rgb(206, 200, 243), rgba(248, 192, 147, 0));
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax, 110vmax 110vmax, 90vmax 90vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax, -30vmax -10vmax, 50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 10s movement linear infinite;
  justify-content: space-between;

} */
button, input {
  font-size: 24px;
  overflow: visible;
}

.link-login{
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #609966;
  transition: .3s;
  border-radius: 5px;
}
.link-login:hover{
  background-color: #609966;
  color: #EDF1D6;
  text-decoration: none;
}



.filter-container{
  font-size: large; 
}


.gallery-item{
  background-color: #F7F6BB;
  border-radius: 9px
}
.fixed-search {
  background: white !important; /* Màu nền cho thanh tìm kiếm */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Tạo bóng đổ để nhìn rõ hơn */
  animation: fadeIn 0.5s ease-in-out !important; /* Hiệu ứng chuyển động mượt mà */
}

.search-container {
  padding: 15px;
  width: 350px;
  height: 45px;
  text-align: center;
  display: flex;
  justify-content: center; /* căn chỉnh nội dung theo chiều ngang */
  align-items: center; 
  background: transparent;
  border: 2px solid #030303;
  border-radius: 6px;
  backdrop-filter: blur(10px);
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  animation: fadeIn 1s ease-in-out !important ; /* Thêm chuyển động cho margin */
}

.search-container input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #030303;
  padding-left: 10px;
}
.search-container input::placeholder {
  color: #c9c4c4;
}

.search-container button {
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-container button i {
  font-size: 22px;
  color: #030303;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
.Thucvat h1{
  margin: 80px;
}
.Thucvat{
  /* margin-top: 150px; */
}
#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  padding: 50px;
  margin-bottom: 80px;
}

#gallery a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
}

#gallery img {
  width: 220px;
  height: 240px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

/* #gallery img:hover {
  transform: scale(1.05);
} */

#gallery h3 {
  margin-top: 10px;
  font-size: 16px;
}
#set-list img{
  width: 100%;
}
#set-list{
  display: flex;
  /* flex-wrap: wrap; */
}

#set-list{ 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 30px;
  padding: 50px;
 flex-wrap: wrap;
 margin-bottom: 80px;
 height: 600px;
}
#set-list li{ 
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  /* gap: 30px;
  padding: 50px; */
  /* flex-wrap: wrap; */
}

* implement */
.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 200px 150px 100px;
   grid-gap: 20px;
}
.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item2{
    grid-column-start: 2;
    grid-row: 1;
}
.item1 {
    grid-column: 1 / span 2;
    grid-row: 1/3;
}

.item2 {
    grid-column: 3/ span 2;
    grid-row: 2/1;
}
.implement-txt{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}
.grid-item{
    position: relative;
    overflow: hidden;
}

.grid-item img {
    transition: transform 0.3s ease-in-out;
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(68, 68, 68) 100%); */
}

.grid-item :hover img {
    transform: scale(1.2);
    filter: brightness(80%);
}
.implement-txt h3{
    color: #fdfafa;
    text-shadow: 0 0 2px #F1B4BB;
}
.type{
    color: #fdfafa;
    text-shadow: 0 0 2px #F1B4BB;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}
.grid-item :hover .type {
    opacity: 1;
}

.grid-item :hover .implement-txt{
    bottom: 10%;
}



/* Thiết lập cho các phần tử gallery */
/* .gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery a {
  margin: 5px;
  text-decoration: none;
  color: #333;
  text-align: center;
} */

/* .gallery img {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto 5px auto;
} */

.gallery h3 {
  margin: 0;
  padding-top: 20px;
}